<mat-toolbar class="toolbar">
  <button mat-fab color="primary" class="home-btn">H</button>
  <span class="page-title">HANOITEAM</span>
  <span class="example-spacer"></span>
  <a mat-button routerLink="/election" routerLinkActive="active">Presidential Election Results</a>
  <a mat-button routerLink="/prediction" routerLinkActive="active">Prediction Chart</a>
  <button mat-raised-button color="primary" class="login-btn">Login</button>
</mat-toolbar>
