.toolbar {
  background-color: #fff;
}

.example-spacer {
  flex: 1 1 auto;
}
.page-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #233348;
}

.home-btn {
  margin: 0 20px 0 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.login-btn {
  margin: 0 50px 0 20px;
  width: 142px;
  border-radius: 50px;
}

a {
  color: #827D8D;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0 20px;
}

.active {
  color: #0664A0 !important;
  font-weight: bold;
}
