<div class="content">
  <p class="title">Prediction Chart</p>
  <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div fxFlex="100" class="sec2">
      <div echarts [options]="chartOption" class="demo-chart"></div>
    </div>
  </div>
</div>
