.information img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.prediction-name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.voted-count {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

.prediction-1 {
  color: #0664A0;
}

.prediction-2 {
  color: #CB1519;
}

.demo-chart {
  height: 200px;
}
