<div class="content">
  <p class="title">Presidential Election Results</p>
  <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div fxFlex="50" class="sec1" fxFlex.xs="50">
      <div fxLayout="column" fxLayout.xs="column">
        <div class="information">
          <img src="assets/images/tom.png"/>
        </div>
        <div class="prediction-name">TOM CRUISE</div>
        <div class="voted-count prediction-1">{{tomCount}}</div>
      </div>
    </div>
    <div fxFlex="50" class="sec2">
      <div class="information">
        <img src="assets/images/jerry.png"/>
      </div>
      <div class="prediction-name">JERRY MOURSE</div>
      <div class="voted-count prediction-2">{{jerryCount}}</div>
    </div>
  </div>

  <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div fxFlex="100" class="sec2">
      <div echarts [options]="chartOption" class="demo-chart"></div>
    </div>
  </div>
</div>
