/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Barlow Semi Condensed", Roboto, "Helvetica Neue", sans-serif; }

.content {
  text-align: center;
}
.title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}
